#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  text-align: center;
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  } */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#header {
  background-color: black !important;
}

.navbar {
  background-color: white !important;
}

.nav-logo {
  color: #7F6A93 !important;
}

.nav-links {
  display: flex !important;
  justify-content: end !important;
}

#carousel:hover .carousel-img {
  filter: blur(5px);
}

#carousel{
  border: solid 2px #D3D5D4;
}

.carousel-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  background-color: black;
  opacity: 0.9;
  border-radius: 10px;
  visibility: hidden;
  transition: transform 0.5s;
  transform: translateY(100%);
}

.carousel:hover .carousel-caption {
  visibility: visible;
  transform: translateY(0);
}

.separator {
  background-color: #9DB5B2;
}

.footer {
  background-color: #7F6A93;
}

.footer-link {
  color: white !important;
  font-weight: bold;
}

#footer-link:hover {
  color: #84C0C6;
}

.form {
  background-color: #D3D5D4;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-header {
  color: #7F6A93;
  font-weight: bold;
}

.login-btn {
  background-color: #9DB5B2 !important;
  border: none !important;
}

.signup-link {
  cursor: pointer;
}

.profile-container {
  background-color: #D3D5D4;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.logo-img {
  height: 110px;
  width: 110px;
}

.search-btn {
  border: solid #9DB5B2 !important;
  background-color: white !important;
  color: #9DB5B2 !important;
}

.search-btn:hover {
  background-color: #9DB5B2 !important;
  color: white !important;
}

.dropdown-menu {
  background-color: #D3D5D4 !important;
}

.card-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-btn {
  background-color: #9DB5B2 !important;
  border: none !important;
  margin-top: 5px;
  border-radius: 10px;
}

.schedule-text {
  color: #7F6A93;
}

.pref-input {
  background-color: white !important;
  color: #7F6A93 !important;
  font-weight: bold !important;
  border: solid 2px #9DB5B2 !important;
  border-radius: 10px;
}

.pref-btn {
  background-color: #9DB5B2 !important;
  border: none !important;
  margin-top: 5px;
  border-radius: 10px;
}

.page-header {
  padding-bottom: 20px;
  color: #7F6A93;
  font-weight: bold;
  border-bottom: 1px solid #D3D5D4;
}